form {
  width: 800px
}

.nameFieldRow { 
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 8px 0;
  gap: 8px;
} 

.footerText {
  & :last-child {
    text-decoration: underline;
    color: rgb(185, 179, 179);
  }

  margin: 14px 0;
  text-align: center;
}

.button {
  margin: 8px 0;
}

.loginFormPassword {
  margin: 8px 0;
}